@charset "UTF-8";

// ============================================================================================= //
//                                         DOCUMENTATION                                         //
// ============================================================================================= //

// ------------------------------------------------------------------------- //
// Vendors
// ------------------------------------------------------------------------- //

@use "sass:map";
@use "@unsass/rem";
@use "normalize.css/normalize";
@use "./tokens";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

// ------------------------------------------------------------------------- //
// Main
// ------------------------------------------------------------------------- //

html,
body {
    @include rem.baseline;

    background: map.get(tokens.sys-color-values-light(), "background");
    min-height: auto;
    font-family: map.get(tokens.sys-typescale-values(), "body-font");
    color: map.get(tokens.sys-color-values-light(), "surface");
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}
