// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "../tokens";
@use "@magnesium/theme";

$_custom-property-prefix: "avatar";
$_tokens: tokens.comp-avatar-values();

@mixin theme($tokens) {
    $tokens: theme.validation($_tokens, $tokens);

    @include theme.emit-custom-props($tokens, $_custom-property-prefix);
}

@mixin styles {
    .avatar {
        display: flex;
        width: var(--_#{$_custom-property-prefix}-container-width);
        height: auto;
        flex: 0 0 auto;
        border-radius: 100%;
        position: relative;
        overflow: hidden;

        // This ensure the whole avatar will always be as high as it is wide.
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        // Only use the dedicated logical properties.
        @at-root & {
            @each $token, $value in $_tokens {
                --_#{$_custom-property-prefix}-#{$token}: #{map.get($_tokens, $token)};
            }
        }
    }

    .avatar__image {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
}
